.menu_frame{
    position: absolute;
    left:  40%;
    top: 85%;
}
/* @media screen and (max-width: 1150px){
    .menu_frame{
        position: absolute;
        left: 20%;
        top: 85%;
    }
}
@media screen and (max-width: 600px){
    .menu_frame{
        position: absolute;
        left: 10%;
        top: 85%;
    }
} */
.menu {
    -webkit-filter: url("#shadowed-goo");
    filter: url("#shadowed-goo");
}

.menu-item,
.menu-open-button {
    background: #a5ffd6;
    
    border-radius: 100%; ;
    
    position: absolute;
    color: #FF686B ;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.menu-item.yellow{
    background: rgb(248, 248, 116);
}
.menu-item.red{
    background: rgb(252, 71, 71);
}
.menu-item.blue{
    background: rgb(73, 73, 226);
}
.menu-item.green{
    background: rgb(88, 138, 88);
}
.menu-open {
    display: none;
}

.hamburger {

    background:      #FF686B ;
    
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15%;
    margin-top: -2%;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    left: 50%;

   
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:hover {
    background: white;
    color: #00bcd4;
}

.menu-item:nth-child(3) {
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked~.menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(100%, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    transition-duration: 290ms;
    transform: translate3d(200%, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
    transition-duration: 390ms;
    transform: translate3d(300%, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
    transition-duration: 490ms;
    transform: translate3d(400%, 0, 0);
}